.MainHeading{
  font-family: 'Tangerine', cursive;
  font-size: 7rem;
  margin-bottom: 0;
}

.heading{
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 3% 15%;
  background-color: #ff4c68;
}

.headingImage{
  width: 250px;
}

.headImageDiv{
  margin: auto;
}

.headDiv{
  padding:3%;
}

.container-fluid{
  background-color: #ff4c68;
  /* position:fixed; */
}

.titlebrand{
  font-family: 'Tangerine', cursive;
  font-size: 2.5em;
  padding:0 1%;
}

.nav-item{
  padding:0 10px;
}

.navbar-collapse.collapse.in {
  display: inline-block;
}

.keyPoints{
  text-align: center;
  color: #ff4c68;
  padding: 7% 15%;
}

.featuresHeading{
  background-color: #ff4c68;
  color:white;
  margin: 15% 7%;
}

.featuresLine{
  font-size: 1.5em;
}

.Carousel{
  background-color: #ff4c68;
}

.carouselImage{
  width:150px;
}

.carousel-item{
  padding:7% 15%;
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.carouselPara{
  display: inline-block;
  padding: 3%;
}
